body {
  margin: 0px;
}

.app_window {
  background-color: green;
  width: 50vw;
  margin: auto;
  border-radius: 10%;
  border-color: darkgreen;
  border: 3px;
  padding-top: 8vh;
  top: 25%;
  left: 25%;
  bottom: 5%;
  text-align: center;
}

.app_text {
  color: whitesmoke;
  padding: 0vw;
  padding-left: 2vw;
  padding-right: 2vw;
}

.app_button {
  font-size: 3vh;
  margin-top: 2vw;
  margin-left: 2vw;
  margin-right: 2vw;
  background-color: darkgreen;
  color: whitesmoke;
  padding: 1vh;
  cursor: pointer;
  border-width: 1vh;
  border-radius: 40%;
  border-color: whitesmoke;
}

.app_button:hover{
  background-color: lightgreen;
  color: darkgreen;
  padding: 1vh;
  cursor: pointer;
}

.navigation_bar {
  flex-wrap: nowrap;
  background-color: darkgreen;
  height: 14vh;
  min-height: 72px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.logout {
  width: 14vh;
  /* display: none; */
  background-color: aqua;
}

.sticky_menu {
  justify-content: center;
  position: fixed;
  right: 1vw; 
  top: 14vh;
  width: 15vw;  
  margin: 0px;
  background-color: darkgreen;
}

.sticky_menu button {
  margin: 0px;
  padding: 0px;
  border: 0px;
  padding-top: 1vh;
  padding-bottom: 1vh;
  width: 90%;
  font-size: 3vh;
  background-color: green;
  color:whitesmoke;
}

.sticky_menu button:hover {
  background-color: lightgreen;
  cursor: pointer;
}

.post_list {
  background-color: lightgreen;
}

.post {
  width: 70vw;
  margin-top: 6vh;
  padding: 3vh;
  border-radius: 3vw;
  margin-left: 15vw;
  margin-right: 15vw;
  background-color: whitesmoke;
}

.post_title {
  font-size: 3vh;
  padding: 0px;
  margin: 0px;
  left:-18vw;
  color:darkgreen;
}

.post_text {
  font-size: 2vh;
  margin: 0px;
  padding: 0px;
  color: green;
}

.feed_container {
  background-color: lightgreen;
  min-height: 100vh;
  padding: 0px;
  margin: 0px;
  margin-left:-2vw;
  margin-right:-2vw;
}

.like_button {
  background-color: lightgreen;
  height: 3vh;
  min-height: 48px;
  float: right;
  margin: 10px;
  color: black;
  text-align: center;
  font-size: 4vh;
  border: 4px solid whitesmoke;
  border-radius: 1vw;
}

p.post_likes {
  float: right;
  font-size: 2vh;
  margin: 0px;
}

.feed_container p.post_date {
  color: #008c1e;
  float: right;
  font-size: 2vh;
  margin: 0px;
}

.feed_container img + p {
  padding-top: 5vh;
}

.navigation_bar button {
  background-color: green;
  height: 9vh;
  min-height: 48px;
  width: 100%;
  border: none;
  margin: auto;
  color: white;
  text-align: center;
  font-size: 4vh;
}

.navigation_bar button:hover {
  background-color: lightgreen;
  cursor: pointer;
}


.submit_button {
  border-radius: 15%;
}

label {
  display: inline-block;
  margin: 25px 0 15px;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}

.about {
  position: absolute;
  left: 40vw;
  width: 20vw;
  background-color:green;
  border: 1vh;
  border-radius: 20%;
  border-color: darkgreen;
  height: 5vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
  width: 20vw;
}
.about h1 {
  padding: 0px;
  margin:0px;
  font-size: 4vh;
  color:whitesmoke;
}

#post_button {
  margin-top: 2vw;
  background-color: rgb(113, 241, 1);
  color: rgb(45, 0, 87);
  padding: 1vh;
  cursor: pointer;
  border-width: 1vw;
  border-color: rgba(121, 10, 225, 0.26);

}

#post_button:hover{
  background-color: violet;
  padding: 1vh;
  cursor: pointer;
}

.login_window p {
  color: whitesmoke;
  font-size: large;
}

.login_window:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}




@media (min-width: 800px) {
  .navigation_bar {
    display: flex;
  }
  .header {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 800px) {
  .dropdown-content{
    position: absolute;
    /* right: 0px; */
    margin-top: 0px;
    position: absolute;
    left: 0px;
    right: auto;
  }
  
}

/* Applies when the browser's width is 1000px wide or wider: */

@media (min-width: 1000px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }
  .profile_pic {
    margin-top: 2.5vh;
  }
  .dropdown-content{
    position: absolute;
    /* right: auto; */
    right: 0px;
    left: auto;

    margin-top: 13vw;
  }
}